@import '../../App.scss';

.background {
    background-color: map-get($map: $colors, $key: gray-120);
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12em;
    width: 50%;
    height: 60vh;
    
    .header__container {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        text-align: center;
        color: map-get($map: $colors, $key: white-100);

        h2 {
            font-size: 2rem;
            font-weight: 500;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    .login_form {
        display: flex;
        flex-direction: column;

        .input__error_message {
            @include input_error;
        }
        
        label {
           @include label_base;
        }
        
        input[type=text], input[type=email] {
            @include input_base;
        }
        .login_btn {
            @include btn;
            @include btn_primary; 
            margin: 2em 0;
        }
    }
}


