@import '../../App.scss';

.background {
    background-color: map-get($map: $colors, $key: gray-120);
}

.register__container {
    color: map-get($map: $colors, $key: white-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto 12em;
    width: 50%;
    height: 65vh;
    

    .header__container {
        h2 {
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            padding: 4em 0 1em;
        }
    }

    .register_form {
        display: flex;
        flex-direction: column;

         .input__error_message {
            @include input_error;
        }
        
        label {
            @include label_base;
        }
        
        input[type=text], input[type=email], input[type=password] {
            @include input_base;
        }

        .password_div {
            position: relative;

            svg {
                color: map-get($map: $colors, $key: gray-40);
                position: absolute;
                right: 15px;
                top: 59px;
            }
        }
        
        .register_btn {
            @include btn;
            @include btn_primary;
            margin: 2em 0;
        }
    }
}