@import '../../App.scss';

.base {
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    outline: none;
    font-weight: 500;
}

.primary {
    border: 2px solid map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: primary);
    &:hover {
        border: 2px solid map-get($map: $colors, $key: primary-80);
        color: map-get($map: $colors, $key: primary-80);
    }
}

.secondary {
    border: 2px solid map-get($map: $colors, $key: secondary);
    color: map-get($map: $colors, $key: secondary);
        &:hover {
        border: 2px solid map-get($map: $colors, $key: secondary-80);
        color: map-get($map: $colors, $key: secondary-80);
    }
}

.neutral {
    border: 2px solid map-get($map: $colors, $key: white-100);
    color: map-get($map: $colors, $key: white-100);
}

.filled_primary {
    color: map-get($map: $colors, $key: black-100);
    background-color: map-get($map: $colors, $key: primary);
}

.filled_secondary {
    color: map-get($map: $colors, $key: white-100);
    background-color: map-get($map: $colors, $key: secondary);
}

.filled_neutral {
    color: map-get($map: $colors, $key: black-100);
    background-color: map-get($map: $colors, $key: white-100);
}

.transparent {
    background-color: transparent;
}