@import '../App.scss';

.media_container {
    background-color: map-get($map: $colors, $key: black-100);
    width: 100%;
    padding: 0 5% 12em;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6em;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content_container {
    margin-bottom: 4em;
}