@import '../../App.scss';

nav {
    background-color: map-get($map: $colors, $key: gray-140);
    width: 100%;
    display: flex;
    padding: 0.75em 6em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70%;
}

.nav__right {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            display: inline-block;
            margin: 0 0.75em;
        }     
    }
}

.profile__item {
    position: relative;
}

.profile__button {
    position: relative;
    border: none;
    // outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 0 0 2em;
}

.profile__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.caret {
    color: map-get($map: $colors, $key: white-100);
    font-size: 1.25rem;
    margin: 0 0 0 0.5em;
}

.profile_menu {
    position: absolute;
    top: 5em;
    left: -2em;
    width: 12em;
    z-index: 50;
    background-color: map-get($map: $colors, $key: gray-120);
    padding: 0.75em 1em;
    border-radius: 4px;
    box-shadow: 0 0.75em .8em map-get($map: $colors, $key: black-100);

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
            font-size: 1rem;
            font-weight: 400;
            padding: 0.5em 0;
            margin: 0 0 1.21em 0;
            border-bottom: 1px solid map-get($map: $colors, $key: gray-100);
            width: 100%;
            color: map-get($map: $colors, $key: gray-20);

            a {
                display: inline-block;
                width: inherit;
                color: inherit;
                text-decoration: none;
            }
        }
        .list__logout {
            margin-top: 2em;
            display: inline-block;
            cursor: pointer;
        }
    }
}