@import '../../App.scss';

nav {
    background-color: map-get($map: $colors, $key: gray-140);
    width: 100%;
    display: flex;
    padding: 0.75em 6em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 12em;
}

.nav__right {
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin: 0 0.75em;
        }
        .btn_login {
            @include btn;
            @include btn_neutral_ghost;
        }

        .btn_signup {
            @include btn;
            @include btn_primary_ghost;
        }
    }
}
