// Button styles in carousel must be edited in original style.css dependency.

@import '../../App.scss';

.carousel__container {
    @include carousel_container;
}

.title {
    h4 {
        padding: 1em 1.5em;
        width: fit-content;
    }

    position: relative;
    .carousel__button {
        @include btn;
        @include btn_neutral_dark;
        position: absolute;
        top: 25%;
        right: 2.5em;
    }
}
