@import '../../App.scss';


.input__error_message {
    @include input_error;
    text-align: left;
}

.group__container {
    width: 90%;
    margin: 4em auto;
    padding: 0 0 2em;
    border-bottom: 1px solid map-get($map: $colors, $key: primary);
    background-color: map-get($map: $colors, $key: black-100);
    .title {
        h4 {
            padding: 1em 1.5em;
            width: fit-content;
        }
        position: relative;
        .header__button {
            @include btn;
            @include btn_neutral_dark;
            position: absolute;
            top: 25%;
            right: 2.5em;
        }
    }

    .content__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 0;
        gap: 4em;
        .content__title {
            color: map-get($map: $colors, $key: white-100);
            font-weight: 600;
            font-size: 2rem;
        }
        .content__btn {
            @include btn;
            @include btn_primary;
        }
    }
}
.group_form {
    color: map-get($map: $colors, $key: white-100);
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    text-align: center;
    width: 70%;

    label {
        @include label_base;
    }

    input[type=text] {
        @include input_base;
    }
    
    button {
        @include btn;
        @include btn_primary;
        margin: 2em 0;
    }
}

