// Button styles in carousel must be edited in original style.css dependency.

@import '../../App.scss';

.list__container {
    width: 90%;
    margin: 4em auto;
    padding: 0 0 2em;
    border-bottom: 1px solid map-get($map: $colors, $key: primary);
    background-color: map-get($map: $colors, $key: black-100);
}

.title {
    h4 {
        padding: 1em 1.5em;
        width: fit-content;
    }

    position: relative;
    .carousel__button {
        @include btn;
        @include btn_neutral_dark;
        position: absolute;
        top: 28%;
        right: 2.5em;
    }
}
