@import '../../App.scss';


.tile__container {
    @include carousel;

    .tile__wrapper {
        display: flex;
        width: fit-content;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;

        ul {
            display: flex;  
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            margin-bottom: 2em;
            padding: 0 4em;
        }
        li {
            flex-basis: 100%;
            display: inline-block;
            margin: 0 2em;
        }
    }

        .tile__wrapper {
            scrollbar-width: auto;
            scrollbar-color: #635e5a #301b07;
        }
        /* Chrome, Edge, and Safari */
        .tile__wrapper::-webkit-scrollbar {
            width: auto;
            height: 14px;
        }

        .tile__wrapper::-webkit-scrollbar-track {
            background: #301b07;
        }

        .tile__wrapper::-webkit-scrollbar-thumb {
            background-color: #635e5a;
            border-radius: 4px;
            border: none;
        }
}