@import '../../../App.scss';

.dimmer {
    z-index: -999;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: background-color .2s;
}

.dimmer_active {
    z-index: 888;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.search__form {
    position: relative;
    z-index: 999;
    padding: 0 1em 0 0;
    border-radius: 4px;
    background-color: map-get($map: $colors, $key: gray-20);
    display: flex;
    align-items: center;
    pointer-events: none;
    svg {
        width: 1.5em;
        opacity: 50%;
    }
}

.search {
    cursor: text;
    font-size: 1rem;
    padding: 0.5em 2em;
    border-radius: 4px;
    border: 1px solid map-get($map: $colors, $key: gray-20);
    background-color: map-get($map: $colors, $key: gray-20);
    pointer-events: all;
    &:focus {
        outline: none;
    }
}

// chrome default appearance
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }