@import '../../App.scss';

.background {
    background-color: map-get($map: $colors, $key: gray-120);
}

.search__container {
    .search__header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($map: $colors, $key: white-100);
        font-size: 2rem;
        padding: 4em 0 1em;   
    }
}