@import '../../App.scss';

.sidebar__container {
    display: flex;
    flex-direction: column;
}

.sidebar__buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1em;
    width: 100%;
    margin: 1.5em 0;
    
    button {
        @include btn;
    }

    .button_watch {
        @include btn_primary;
    }

    .button_plan {
        @include btn_neutral;
    }
}

.poster {
    width: 21em;
    margin: 1em 0;
}