@import '../../App.scss';

.sidebar__container {
    display: flex;
    flex-direction: column;

    img {
        width: 21em;
        height: 33em;
        object-fit: cover;
    }
}

.sidebar__buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1em;
    width: 100%;
    margin: 1.5em 0;
    
    button {
        @include btn;
    }

    .button_add_watched {
        @include btn_primary;
    }
    .button_add_planned {
        @include btn_neutral;
    }
    .button_add_favorited {
        @include btn_secondary;
    }
    .button_remove_watched {
        @include btn_danger;
    }
    .button_remove_planned {
        @include btn_danger;
    }
    .button_remove_favorited {
        @include btn_danger_ghost;
    }
}

.poster {
    width: 21em;
    margin: 1em 0;
}