@import '../../App.scss';

.subheader_container {
    width: 100%;
    border-bottom: 1px solid map-get($map: $colors, $key: primary);
    margin: 0 0 2em;
}

.container_text {
    color: map-get($map: $colors, $key: gray-60);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 8px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}