@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$fontsizes: (
  "header-1": 4rem,
  "header-2": 2rem,
  "subheader-1": 1.8rem,
  "subheader-2": 1.2rem,
  "quote": 1.2rem,
);

$colors: (
  "primary": #E79952,
  "primary-80": #DEB38C,
  "primary-120": #C87F3C,
  "secondary": #529FE7,
  "secondary-80": #8CB6DE,
  "secondary-120": #3C84C8,
  "black-100": #311B07,
  "gray-20": #E0DEDC,
  "gray-40": #C7C4C1,
  "gray-60": #97918C,
  "gray-80": #635E5A,
  "gray-100": #484441,
  "gray-120": #2E2B29,
  "white-100": #F8F7F7,
  "success-100": #51D21D,
  "warning-100": #D2781D,
  "error-100": #D24B1D,
  "info-100": #1D87D2,

  "review-blue-1": #0E3C67,
  "review-blue-2": #0C345A,
);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}