@import '../../../App.scss';

.tile__container {
    background-color: map-get($map: $colors, $key: gray-120);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    margin: 2.5em auto;
    width: 95%;
    border-radius: 4px;
}

.tile__user {
    display: flex;
    align-items: center;
    gap: 2em;

    .avatar {
        width: 5em;
        height: 5em;
        object-fit: cover;
        border-radius: 50%;
    }
}

.tile__actions {
    //
}

.user__info {
    color: map-get($map: $colors, $key: white-100);
    font-size: 1.5rem;
    font-weight: 500;

    .user_role {
        font-size: 0.8rem;
        color: map-get($map: $colors, $key: gray-40);
        font-weight: 400;
        margin-left: 1em;
    }
}

.user__action_btn {
    @include btn;
    @include btn_neutral_dark;   
}