@import '../../../App.scss';

.usertile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.usertile__img {}

.usertile__name {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0 0;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
    color: map-get($map: $colors, $key: white-100);
}