@import '../../../App.scss';

.input {
    padding: 1em 12em 1em 2em;
    &:focus {
        outline: none;
    }
}

.submit {
    padding: 1.1em 2em;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: map-get($map: $colors, $key: primary);
    &:hover {
        background-color: map-get($map: $colors, $key: primary-120);
    }
}